/.DS_Store
/Debug/
/Debug ARM/
/Build (GNU)/
/.externalToolBuilders/
/tmptestexe
/tmptestexe.dSYM/
/Debug+Coverage/
/hs_err_pid*
/Debug-lib/
/Debug ARM/
/.vscode/ipch

# Meson build dirs
/buildclang
/builddir
/subprojects
