#!/bin/bash

# *************************************************************
#
# The OpenTRV project licenses this file to you
# under the Apache Licence, Version 2.0 (the "Licence");
# you may not use this file except in compliance
# with the Licence. You may obtain a copy of the Licence at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the Licence is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the Licence for the
# specific language governing permissions and limitations
# under the Licence.
#
# *************************************************************
# Author(s) / Copyright (s): Deniz Erbilgin 2015
#                            Damon Hart-Davis 2017

# pre-commit
# Script for automatically regenerating OTRadioLink.zip on commit
# How to use:
# 1- Make sure you have at least EGit 4.10 from http://www.eclipse.org/egit/download/
# 1- copy to OTRadioLink/.git/hooks
# 2- rename to pre-commit (deleting .sample)
#
# The script will be automatically run before a commit.

echo 'pre-commit: Generate zip'

zip -r OTRadioLink.zip ./content/OTRadioLink
git add ./OTRadioLink.zip

exit 0
